<!DOCTYPE html>
<html>
<head>
  <title>Account Details</title>
  <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
</head>
<body>
  <h2>Account Details</h2>
  <table border="1" cellpadding="5">
    <tr><th>Branch Code</th><td><%= data.BRANCHCODE %></td></tr>
    <tr><th>Account No</th><td><%= data.ACCNUMBER %></td></tr>
    <tr><th>Date of Birth</th><td><%= data.DATEOFBIRTH %></td></tr>
    <tr><th>Age</th><td><%= data.AGE %></td></tr>
    <tr><th>Occupation</th><td><%= data.OCCUPAT %></td></tr>
    <tr><th>Father/Husband Name</th><td><%= data.FATHHUSNAME %></td></tr>
    <tr><th>Local Address</th><td><%= data.LOCADDRES %></td></tr>
    <tr><th>Permanent Address</th><td><%= data.PERMADDR %></td></tr>
    <tr><th>Nominee 1</th><td><%= data.NOM1 %></td></tr>
    <tr><th>Nominee 2</th><td><%= data.NOM2 %></td></tr>
    <tr><th>Nominee 3</th><td><%= data.NOM3 %></td></tr>
    <tr><th>Nominee 4</th><td><%= data.NOM4 %></td></tr>
    <tr><th>Receipt No</th><td><%= data.RECEIPTNO %></td></tr>
  </table>

  <br>
  <a href="/">🔙 Back to Search</a>
</body>
</html>
